snippet	Hi "Informal greeting"  bA
Hi$1,

$0
endsnippet

snippet	Dear "Formal greeting"  bA
Dear$1,

$0
endsnippet

snippet jk "Goodbye 1" bA
Best,

Johannes
endsnippet

snippet kj "Goodbye 2" bA
Best wishes,

Johannes
endsnippet

snippet JK "Goodbye 3" bA
All the best,

Johannes
endsnippet

snippet df "Goodbye 3" bA
Groeten,

Johannes
endsnippet

snippet apg "Goodbye" bA
My apologies again and best wishes,

Johannes
endsnippet
